:root {
    --color-border: #f24846;
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page-landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.top-pokedex {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100vw;
    height: 8vh;
    background-color: var(--color-border);
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid black;
}

.camera {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3D5AFE;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 1px 3px 1px black;
    margin: 5vh;
    margin-left: 6vw;
}
.reflexo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #E3F2FD;
}
.mini-botoes{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 4vh;
}
.botao-vermelho {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 1px 2px black;
    margin-right: 10px;
}
.botao-amarelo {
    display: flex;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FFEB3B;
    box-shadow: 0.5px 0.5px 1px 2px black;
    margin-right: 10px;
}

.botao-verde {
    display: flex;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #00E676;
    box-shadow: 0.5px 0.5px 1px 2px black;
}
.interface-pokedex {
    display: flex;
    position: relative;
    height: 100%;
    border-left: 10vh solid var(--color-border);
    border-right: 10vh solid var(--color-border);
    background-color: #81D4FA ;
}
.tela {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-left: 2vh solid #FFFFFF;
    border-top: 2vh solid #FFFFFF;
    border-right: 2vh solid #FFFFFF;
    border-bottom: 2vh solid #FFFFFF;
}
#pesquisa {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4vh;
    margin-left: 170px;
    /* margin-top: 5vh; */
    opacity: 0.9;
}
#pesquisa input {
    display: flex;
    /* position: relative; */
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 6vh;
    font-weight: bold;
    text-align: center;
    background-color: #040303;
    color: white;
    border-radius: 50px;

}
#pesquisa :placeholder-shown {
    color: white;
    font-size: 1rem;
    text-align: center; 
    width: 40vw;
    border-radius: 20px;
}
#pesquisa ::placeholder{
    color: white;
}
.conteudo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8vh;
    text-align: center;
    width: 70vw;
    
}
.conteudo h2 {
    font-size: 2.3rem;
    font-family: 'Source Serif Pro';
    text-shadow: 2px 2px #00C853;
    font-weight: bold;

}
.pokebola {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.pokebola img {
    width: 70px;
    animation: pokebola 20s linear infinite;
}
@keyframes pokebola {
    0% {
        transform: rotate(0);
        /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
    }
    50% {

        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
.all {
    display: flex;
    position: relative;
    justify-content: center;
}
.btn-all {
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    background: black;
    border-radius: 50px;
    padding: 8px;
    transition: 0.8s;
    box-shadow: 1px 0.5px 1px black;
    margin-top: 20vh;
}
.btn-all:hover {
    font-size: 1.06rem;
    cursor: pointer;
}
.footer-pokedex {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--color-border);
    height: 10vh;
}
.retan {
    display: flex;
    position: relative;
    padding-left: 5vw;
}
.retan img {
    width: 5vh;
}
.joystick {
    display: flex;
    position: relative;
    margin-left: 10vw;
}
.joystick img {
    width: 10vh;
}

.info-pokemon{
    /* display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    align-items: center; */
    display: grid;
    grid-template-areas:
    'name name'
    'img type-ability';
    justify-content: space-around;
    align-items: center;
    border: solid 5px black;
    gap: 0;
    margin-top: 3vh;
    margin-bottom: 0;
    padding: 0;
}

.info-pokemon img{
    /* position: absolute; */
    grid-area: img;
    width: 120px;
    padding: 0;
    margin: 0;
    border-right: solid 2px black;
}

.info-pokemon h1 {
    grid-area: name;
    border-bottom: solid 2px black;
    width: 100%;
}

.type-ability {
    grid-area: type-ability;
    display: flex;
    gap: 50px;

}

.class-types {
    list-style: none;
}

.class-types h1 {
    font-size: 1.09rem;
}

.class-abilities {
    list-style: none;
}

.class-abilities h1 {
    font-size: 1.09rem;
}

.btn{
    /* background-color: black;
    color: white;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 5px;
    border: none;
    transition: 0.3s all ease-in-out; */
    border: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    background: black;
    border-radius: 50px;
    padding: 8px;
    transition: 0.5s;
    box-shadow: 1px 0.5px 1px black;
    /* margin-top: 10px; */
    margin-bottom: 0;
    margin-left: 10px;
}

.btn:hover{
    /* background-color: white;
    color: black; */
    font-size: 1.08rem;
    cursor: pointer;
}

.div-all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: 505px;
    /* margin-top: 30px; */
    padding-top: 6px;
    overflow: hidden;
    /* border: solid 1px black; */
    overflow-y: auto;
}

.div-all::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.div-all::-webkit-scrollbar-track {
    background: #81D4FA ;     /* color of the tracking area */
    
}
  
.div-all::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #81D4FA ; /* creates padding around scroll thumb */
  }


.card {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 240px;
    padding: 0;
    margin-bottom: 2px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0px black;
    transition: all 300ms ease-in-out;
}

.passed {
    /* margin-top: -370px; */
    animation: passed 0.5s linear 1s 1 forwards;
    /* scroll-behavior: smooth; */
}

@keyframes passed {
    0%   {margin-top: 370px;}
    25%  {margin-top: -123px; background: red}
    50%  {margin-top: -246px;}
    100% {margin-top: -370px;}
    /* from {margin-top: 370px;}
    to {margin-top: -370px;} */
}

/* .card:hover {
    transform: scale(1.2);
    cursor: pointer; 
} */

.card img {
    width: 100px;
    padding: 0;
    margin: 0;
}

.card h1 {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card h1::first-letter {
    text-transform: uppercase;
}


.card span {
    position: relative;
    color: black;
    font-size: 1rem;
    background: grey;
    border-radius: 10px;
    padding: 0 5px;
    margin-top: -10px;
    margin-bottom: 15px;
}


.div-types h3 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 7px;
    text-align: center;
}

.list-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.list-types li {
    border-radius: 10px;
    background: green;
    padding: 2px 8px;
    color: white;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
     1px -1px 0px #000,                  
     1px 0px 0px #000;
}

.list-types li::first-letter {
   text-transform: uppercase;
}


.btn-pass {
    background-color: black;
    border-radius: 7px;
    color: white;
    margin-right: 10px;
    padding: 5px;
}